<!DOCTYPE html>
<html lang="en">
@{
    var userName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assettmanagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script>
        function showConfirmationDialog(event, message) {
            event.preventDefault();
            const confirmed = confirm(message);
            if (confirmed) {
                event.target.parentElement.submit();
            }
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Global R&D</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (User.HasClaim("IsAdministrator", "true"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" asp-area="" asp-page="/Admin/Index">Review All</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Admin/AddAsset">Manage Assets</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Admin/AddUser">Manage Users</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="bookingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Booking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="bookingDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Booking/AssignAsset">Assign Asset</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Booking/ReturnAsset">Return Asset</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Booking/AddAssetHistory">Add History to Asset</a>
                            </div>
                        </li>
                    </ul>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <a href="/ChangePassword" class="navbar-text mr-3">@userName</a>
                        <a href="/Logout" class="btn btn-danger">Logout</a>
                    }
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Global Research and Development - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>