@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to the Asset Management System</h1>
    <p>Choose an option below:</p>
    <div class="row">
        <div class="col-md-6">
            <a href="~/Admin" class="btn btn-primary btn-lg">Admin</a>
        </div>
        <div class="col-md-6">
            <a href="~/Booking" class="btn btn-primary btn-lg">Booking</a>
        </div>
    </div>
</div>