@page
@model Assettmanagement.Pages.Booking.BookingModel
@{
    ViewData["Title"] = "Booking";
}

<h2>Booking</h2>

<ul>
    <li><a href="Booking/AssignAsset">Assign Asset</a></li>
    <li><a href="Booking/ReturnAsset">Return Asset</a></li>
    <li><a href="Booking/AddAssetHistory">Add History to Asset</a></li>
</ul>
